.flex-between{
  display: flex;
  justify-content: space-between;
}

tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #CCC}

.login-button{
  background-color: #4267B2;
  color:#fff;
}
label{
  font-size: bold;
  display: block;
}
.profesi-options{
  /* display: flex;
  flex-flow: column; */
}
.profesi-options .mat-radio-button{
  margin-top:5px;
  margin-bottom:5px;
}
.d-block{
  display: block;
}
.label-form{
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.4rem;
}
.profesi-lainnya{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: baseline;
}
.input-profesi-lainnya{
  flex-grow: 1;
  margin-left:10px;
}
.form-field{
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
  margin-bottom: 16px;
}
.form-field.warning{
  background-color: yellow;
}
