<ng-container *ngIf="(placeData$ | async) as placeData; else loading">
  <app-map [height]="40" [place]="placeData.place"></app-map>
  <div class="container">
    <div class="rs-content">
      <div class="rs-form-container">
        <p *ngIf="!utilService.isRsInfoFilled(placeData)" class="warning-unfilled">
          <mat-icon>warning</mat-icon>Data rumah sakit/faskes anda belum lengkap. Mohon bantuannya untuk melengkapi
          data-data di bawah ini terlebih dulu sebelum melanjutkan pengisian data kebutuhan.
        </p>

        <h1 *ngIf="utilService.isRsInfoFilled(placeData)">Edit Info Rumah Sakit</h1>

        <h2>{{placeData.place.name}}</h2>

        <p><em class="text-muted">{{placeData.place.formatted_address}}</em></p>

        <form [formGroup]="rsForm" class="rs-form">
          <mat-checkbox formControlName="isRujukan" [checked]="rsForm.get('isRujukan').value == 1">
            Faskes ini merupakan RS Rujukan COVID-19
          </mat-checkbox>

          <mat-form-field class="marg-top-3">
            <mat-label>Propinsi</mat-label>
            <mat-select (selectionChange)="propinsiTrigger.next($event.value)" [value]="propinsiTrigger | async">
              <mat-option *ngFor="let c of nasionalKpData$ | async" [value]="c[0]">{{c[1]}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Kabupaten/Kota</mat-label>
            <mat-select (selectionChange)="kabupatenTrigger.next($event.value)" [value]="kabupatenTrigger | async">
              <mat-option *ngFor="let c of propinsiKpData$ | async" [value]="c[0]">{{c[1]}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Kecamatan</mat-label>
            <mat-select (selectionChange)="kecamatanTrigger.next($event.value)" [value]="kecamatanTrigger | async">
              <mat-option *ngFor="let c of kabupatenKpData$ | async" [value]="c[0]">{{c[1]}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Kelurahan/Desa</mat-label>
            <mat-select (selectionChange)="kelurahanTrigger.next($event.value)" [value]="kelurahanTrigger | async">
              <mat-option *ngFor="let c of kecamatanKpData$ | async" [value]="c[0]">{{c[1]}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="marg-top-3">
            <mat-label>Jenis Layanan</mat-label>
            <mat-select formControlName="jenisLayanan">
              <mat-option *ngFor="let key of JENIS_LAYANAN_RS_KEYS" [value]="key">
                {{JENIS_LAYANAN_RS[key]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Status Kepemilikan</mat-label>
            <mat-select formControlName="statusKepemilikan">
              <mat-option *ngFor="let key of STATUS_KEPEMILIKAN_RS_KEYS" [value]="key">
                {{STATUS_KEPEMILIKAN_RS[key]}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- <app-single-number-card class="covid-item right-space" [placeData]="details.placeData" key="usingIsolation"
        title="Jumlah pasien yang menggunakan ruang isolasi saat ini" subtitle="Ruang Isolasi" numberClass="warning-1"></app-single-number-card> -->

          <h2 class="form-item-header">Informasi Layanan COVID-19 <span>&nbsp;(Opsional)</span></h2>
          <div class="field-rows">
            <mat-form-field>
              <mat-label>Kapasitas ICU</mat-label>
              <input matInput formControlName="icu" type="number"/>
              <span matSuffix>pasien</span>
              <mat-error *ngIf="rsForm.get('icu').invalid">Isian harus bilangan bulat positif</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Kapasitas Isolasi</mat-label>
              <input matInput formControlName="isolasi" type="number" />
              <span matSuffix>pasien</span>
              <mat-error *ngIf="rsForm.get('isolasi').invalid">Isian harus bilangan bulat positif</mat-error>
            </mat-form-field>
          </div>
          <div class="field-rows">
            <mat-form-field>
              <mat-label>Jumlah Ventilator</mat-label>
              <input matInput formControlName="availableVentilator" type="number" />
              <span matSuffix>unit</span>
              <mat-error *ngIf="rsForm.get('availableVentilator').invalid">Isian harus bilangan bulat positif</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Jumlah Mechanical Ventilator</mat-label>
              <input matInput formControlName="availableMechanicalVentilator" type="number" />
              <span matSuffix>unit</span>
              <mat-error *ngIf="rsForm.get('availableMechanicalVentilator').invalid">Isian harus bilangan bulat positif</mat-error>
            </mat-form-field>
          </div>
          <div class="field-rows">
            <mat-form-field>
              <mat-label>Jumlah ECMO</mat-label>
              <input matInput formControlName="availableEcmo" type="number" />
              <span matSuffix>unit</span>
              <mat-error *ngIf="rsForm.get('availableEcmo').invalid">Isian harus bilangan bulat positif</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Jumlah Tenaga Kesehatan</mat-label>
              <input matInput formControlName="jumlahNakes" type="number" />
              <span matSuffix>orang</span>
              <mat-error *ngIf="rsForm.get('jumlahNakes').invalid">Isian harus bilangan bulat positif</mat-error>
            </mat-form-field>
          </div>
          <h2 class="form-item-header">Penerima Bantuan di Rumah Sakit <span>&nbsp;(Opsional)</span></h2>
          <mat-form-field>
            <mat-label>Nama Penerima</mat-label>
            <input matInput formControlName="contactName" type="text" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Alamat Email</mat-label>
            <input matInput formControlName="contactEmail" type="email" />
            <mat-error *ngIf="rsForm.get('contactEmail').invalid">Format email tidak valid</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nomor Kontak (harus diawali dengan 62)</mat-label>
            <input matInput formControlName="contact" type="text" />
            <mat-error *ngIf="rsForm.get('contact').invalid">Format nomor kontak tidak valid. Nomor kontak diawali kode negara 62 dan berisi angka 7-15 digit</mat-error>
          </mat-form-field>
        </form>

        <div *ngIf="!updatingRsInfo; else loading" class="form-actions">
          <button type="button" mat-button (click)="location.back()">Batal</button>
          <button type="button" mat-raised-button color="primary"
            [disabled]="rsForm.invalid"
            (click)="saveRsInfo(placeData)">Simpan</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div style="display:flex;align-items:center;justify-content:center;">
    <mat-spinner diameter="25"></mat-spinner>
  </div>
</ng-template>
