<div class="marg-3">
  <div class="pull-right">
    <button *ngIf="userService.user && userService.user.role > 0" [routerLink]="['/rs']" mat-raised-button>Cari Rumah
      Sakit</button>
    <mat-button-toggle-group class="marg-left-3" #displayOptionButton="matButtonToggleGroup" [value]="displayOption"
      (change)="displayOption=displayOptionButton.value">
      <mat-button-toggle value="gridView" aria-label="Grid View" matTooltip="Tampilkan dalam grid">
        <mat-icon>grid_on</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="chartView" aria-label="Table View" matTooltip="Tampilkan dalam grafik">
        <mat-icon>insert_chart</mat-icon>
      </mat-button-toggle>

      <!-- TODO: filter angka2 yang kosong dahulu sebelum diaktifkan: -->
      <!-- <mat-button-toggle value="listView" aria-label="List View" matTooltip="Tampilkan dalam senarai/list">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle> -->

    </mat-button-toggle-group>
  </div>
</div>

<!-- begin: Chart View -->
<ng-container *ngIf="displayOption == 'chartView'; else otherView">
  <!-- Breadcrumb -->
  <ng-container *ngIf="utilService.isHandset; else breadcrumbLarge">
    <ng-container *ngTemplateOutlet="breadcrumbMobile"></ng-container>
  </ng-container>
  <div class="flex-row">
    <div class="flex-item chart-heading">
      <h1>Grafik Jumlah Kebutuhan <span>Rumah Sakit/Fasyankes Terkini</span></h1>
      <p *ngIf="utilService.isHandset; else helpDesktop">
        <em>Klik pada batang grafik untuk melihat rincian kebutuhan. Klik satu kali lagi untuk melihat data lebih rinci
          lagi.</em>
      </p>
      <ng-template #helpDesktop>
        <p>
          <em>Letakkan tetikus (mouse) pada batang grafik untuk melihat rincian kebutuhan. Klik pada batang grafik untuk
            melihat data lebih rinci lagi.</em>
        </p>
      </ng-template>
    </div>
    <div *ngIf="location$ | async as location" class="flex-item chart-container">
      <!-- <app-bar-chart [dataSets]="location.chart.dataSets" [labels]="location.chart.labels"
        (barClick)="chartClicked($event)"></app-bar-chart> -->
    </div>
  </div>
</ng-container>
<!-- end: Chart View -->

<ng-template #otherView>
  <!-- begin: List View - default HANDSET device -->
  <ng-container *ngIf="displayOption == 'listView'; else gridView">
    <!-- Breadcrumb -->
    <ng-container *ngTemplateOutlet="breadcrumbMobile"></ng-container>
    <!-- <mat-menu #menu="matMenu" style="width:80%;">
        <ng-template matMenuContent>
          <a mat-menu-item *ngFor="let p of location.parents"
            [routerLink]="['/viz', p]">
            {{ p.split(':')[1] }}
          </a>
        </ng-template>
      </mat-menu>
      <div [ngClass]="{'responsive':!utilService.isHandset}">
        <div class="breadcrumb-wilayah-mobile">
          <ng-container *ngIf="location.parents.length > 1; else nasional">
            <a mat-icon-button [routerLink]="['/viz', location.parents[location.parents.length - 2]]" color="primary" aria-label="Kembali">
              <mat-icon>arrow_back</mat-icon>
            </a>
            <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
              <mat-icon>arrow_drop_down_circle</mat-icon>
            </button>
            <span matLine class="current-wilayah">
              {{ location.parents[location.parents.length - 1].split(':')[1] }}
            </span>
          </ng-container>
          <ng-template #nasional><span class="nasional-wilayah">Indonesia</span></ng-template>
        </div>
      </div> -->

    <!-- EXPANSION PANEL -->
    <mat-accordion *ngIf="location$ | async as location" [ngClass]="{'responsive':!utilService.isHandset}">
      <ng-container *ngFor="let c of location.children">
        <mat-expansion-panel [expanded]="location.children.length == 1">
          <mat-expansion-panel-header [collapsedHeight]="'78px'" [expandedHeight]="'78px'">
            <mat-panel-title>
              <div class="panel-title">
                <span class="panel-title-text">{{c.name.split(':')[1] || c.name}}</span>
                <span [hidden]="c.link[0] == '/rs'" class="panel-title-desc">{{c.data.count}} RS/Fasyankes terisi</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <a mat-button color="primary" [routerLink]="c.link">Lebih rinci <mat-icon>keyboard_arrow_right</mat-icon>
            </a>
          </mat-action-row>
          <!-- CONTENT -->
          <div class="text-right">
            <a mat-button color="primary" style="margin-right:0;padding-right:0;" [routerLink]="c.link">Lebih rinci
              <mat-icon>keyboard_arrow_right</mat-icon></a>
          </div>
          <mat-divider style="margin-top:0;"></mat-divider>
          <ng-container *ngIf="userService.isRelawan">
            <h3 class="marg-top-5 marg-bot-3 text-center text-light">Orang Dalam Pemantauan (ODP)</h3>
            <mat-card class="marg-hor-2" style="align-content:center;justify-content:center;"
              [style.background-color]="utilService.getColor(c.data.odp_ts)"
              [ngClass]="{'text-white':utilService.getColor(c.data.odp_ts, 'forecolor')}">
              <h1 class="lead text-center">{{c.data.odp || 0 | number:'1.0':'id' }}</h1>
              <div class="text-light text-center">ODP</div>
            </mat-card>

            <mat-divider></mat-divider>
            <h3 class="marg-ver-3 text-light">Pasien Dalam Pengawasan (PDP)</h3>
            <div class="flex-row">
              <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.pdpp_ts)"
                [ngClass]="{'text-white':utilService.getColor(c.data.pdpp_ts, 'forecolor')}">
                <h1 class="lead text-center">{{c.data.pdpp || 0 | number:'1.0':'id' }}</h1>
                <div class="text-light text-center">Meninggal</div>
              </mat-card>
              <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.pdpr_ts)"
                [ngClass]="{'text-white':utilService.getColor(c.data.pdpr_ts, 'forecolor')}">
                <h1 class="lead text-center">{{c.data.pdpr || 0 | number:'1.0':'id' }}</h1>
                <div class="text-light text-center">Dirawat</div>
              </mat-card>
              <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.pdps_ts)"
                [ngClass]="{'text-white':utilService.getColor(c.data.pdps_ts, 'forecolor')}">
                <h1 class="lead text-center">{{c.data.pdps || 0 | number:'1.0':'id' }}</h1>
                <div class="text-light text-center">Sembuh</div>
              </mat-card>
            </div>
            <mat-divider></mat-divider>
            <h3 class="marg-ver-3 text-light">Pasien Positif COVID-19</h3>
            <div class="flex-row">
              <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.covp_ts)"
                [ngClass]="{'text-white':utilService.getColor(c.data.covp_ts, 'forecolor')}">
                <h1 class="lead text-center">{{c.data.covp || 0 | number:'1.0':'id' }}</h1>
                <div class="text-light text-center">Meninggal</div>
              </mat-card>
              <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.covr_ts)"
                [ngClass]="{'text-white':utilService.getColor(c.data.covr_ts, 'forecolor')}">
                <h1 class="lead text-center">{{c.data.covr || 0 | number:'1.0':'id' }}</h1>
                <div class="text-light text-center">Dirawat</div>
              </mat-card>
              <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.covs_ts)"
                [ngClass]="{'text-white':utilService.getColor(c.data.covs_ts, 'forecolor')}">
                <h1 class="lead text-center">{{c.data.covs || 0 | number:'1.0':'id' }}</h1>
                <div class="text-light text-center">Sembuh</div>
              </mat-card>
            </div>
            <mat-divider></mat-divider>
          </ng-container>
          <h3 class="marg-ver-3 text-light">Permintaan alat-alat tambahan yang dibutuhkan</h3>
          <ng-container *ngIf="c.filledLogistic > 0; else alertEmptyLogistic">
            <div class="flex-row">
              <ng-container *ngFor="let l of attributes.logistic">
                <mat-card *ngIf="c['data'][l.key] && c['data'][l.key] > 0" class="flex-item"
                  [style.background-color]="utilService.getColor(c['data'][l.key+'_ts'])"
                  [ngClass]="{'text-white':utilService.getColor(c['data'][l.key+'_ts'], 'forecolor')}">
                  <h1 class="lead text-center">{{c['data'][l.key] || 0 | number:'1.0':'id' }}</h1>
                  <div class="text-light text-center">{{l.name}}</div>
                </mat-card>
              </ng-container>
            </div>
          </ng-container>
          <ng-template #alertEmptyLogistic>
            <p class="alert-info">Tidak ada permintaan alat yang dibutuhkan</p>
          </ng-template>

          <mat-divider></mat-divider>
          <h3 class="marg-ver-3 text-light">Kapasitas Tempat Tidur/Ruang</h3>
          <div class="flex-row">
            <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.icu_ts)"
              [ngClass]="{'text-white':utilService.getColor(c.data.icu_ts, 'forecolor')}">
              <h1 class="lead text-center">{{c.data.icu || 0 | number:'1.0':'id' }}</h1>
              <div class="text-light text-center">ICU</div>
            </mat-card>
            <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.isolasi_ts)"
              [ngClass]="{'text-white':utilService.getColor(c.data.isolasi_ts, 'forecolor')}">
              <h1 class="lead text-center">{{c.data.isolasi || 0 | number:'1.0':'id' }}</h1>
              <div class="text-light text-center">Isolasi</div>
            </mat-card>
            <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.kondisi_ts)"
              [ngClass]="{'text-white':utilService.getColor(c.data.kondisi_ts, 'forecolor')}">
              <h1 class="lead text-center">
                {{ ((c.data.kondisi || 0) / (c.data.count || 1) * 100) | number:'1.1-1':'id' }}%</h1>
              <div class="text-light text-center">Terisi</div>
            </mat-card>
          </div>
          <mat-divider></mat-divider>
          <h3 class="marg-ver-3 text-light">Dukungan alat yang tersedia di ruang Isolasi</h3>
          <div class="flex-row">
            <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.availableVentilator_ts)"
              [ngClass]="{'text-white':utilService.getColor(c.data.availableVentilator_ts, 'forecolor')}">
              <h1 class="lead text-center">{{c.data.availableVentilator || 0 | number:'1.0':'id' }}</h1>
              <div class="text-light text-center">Ventilator</div>
            </mat-card>
            <mat-card class="flex-item"
              [style.background-color]="utilService.getColor(c.data.availableMechanicalVentilator_ts)"
              [ngClass]="{'text-white':utilService.getColor(c.data.availableMechanicalVentilator_ts, 'forecolor')}">
              <h1 class="lead text-center">{{c.data.availableMechanicalVentilator || 0 | number:'1.0':'id' }}</h1>
              <div class="text-light text-center">Mechanical Ventilator</div>
            </mat-card>
            <mat-card class="flex-item" [style.background-color]="utilService.getColor(c.data.availableEcmo_ts)"
              [ngClass]="{'text-white':utilService.getColor(c.data.availableEcmo_ts, 'forecolor')}">
              <h1 class="lead text-center">{{c.data.availableEcmo || 0 | number:'1.0':'id' }}</h1>
              <div class="text-light text-center">ECMO</div>
            </mat-card>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
    <br />
    <div [ngClass]="{'responsive':!utilService.isHandset}">
      <div class="marg-hor-3 marg-bot-3">
        <strong><u>Catatan</u></strong>
        <p>Kesalahan pada wilayah administrasi akan diperbaiki.</p>
      </div>
      <strong class="marg-hor-3"><u>Keterangan Warna</u></strong>
      <div class="marg-hor-3 marg-bot-3">
        Warna kolom menandakan waktu terakhir data diubah. Berikut adalah daftar keterangan warna kolom.
      </div>
      <div class="legend-row">
        <div style="background-color:#9db4ff;">5 menit lalu</div>
        <div style="background-color:#aabfff;">15 menit lalu</div>
        <div style="background-color:#cad8ff;">45 menit lalu</div>
      </div>
      <div class="legend-row">
        <div style="background-color:#ffddb4;">2 jam lalu</div>
        <div style="background-color:#ffbd6f;">6 jam lalu</div>
        <div style="background-color:#f84235;color:#fff;">20 jam lalu</div>
      </div>
      <div class="legend-row">
        <div style="background-color:#ba3059;color:#fff;">2 hari lalu</div>
        <div style="background-color:#605170;color:#fff;">4 hari lalu</div>
        <div style="background-color:#ffffff;" class="white">&gt; 4 hari lalu</div>
      </div>
    </div>
    <br />
  </ng-container>
  <!-- end: List View - default HANDSET device -->
</ng-template>

<ng-template #gridView>
  <app-list></app-list>
</ng-template>

<!-- begin: Table View - default if PC device -->
<ng-template #tableView>
  <!-- Breadcrumb -->
  <ng-container *ngIf="utilService.isHandset; else breadcrumbLarge">
    <ng-container *ngTemplateOutlet="breadcrumbMobile"></ng-container>
  </ng-container>
  <!-- Table -->
  <div class="table">
    <div class="table-scroll">
      <table class="table-main">
        <thead>
          <tr>
            <th class="fix-col">
              <div>Lokasi</div>
            </th>
            <ng-container *ngIf="userService.isRelawan">
              <th *ngFor="let s of attributes.suspect" matTooltip="{{s.longLabel}}" [matTooltipPosition]="'above'">
                <div>{{s.shortLabel}}</div>
              </th>
            </ng-container>
            <th *ngFor="let l of attributes.logistic" matTooltip="{{l.label}}" [matTooltipPosition]="'above'">
              <div>{{l.name}}</div>
            </th>
            <th *ngFor="let l of attributes.bed" class="bg-light" matTooltip="{{l.label}}"
              [matTooltipPosition]="'above'">
              <div>{{l.shortLabel}}</div>
            </th>
            <th *ngFor="let l of attributes.availibility" matTooltip="{{l.longLabel}}" [matTooltipPosition]="'above'">
              <div>{{l.label}}</div>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="location$ | async as location">
          <tr *ngFor="let c of location.children">
            <td class="fix-col">
              <div matRipple><a [routerLink]="c.link">{{c.name.split(':')[1] || c.name}}</a></div>
            </td>
            <ng-container *ngIf="userService.isRelawan">
              <td *ngFor="let s of attributes.suspect">
                <div class="number" [style.border-color]="utilService.getColor(c.data[s.key+'_ts'])">
                  {{c.data[s.key] | number:'1.0':'id' }}
                </div>
              </td>
            </ng-container>
            <td *ngFor="let l of attributes.logistic">
              <div class="number" [style.border-color]="utilService.getColor(c['data'][l.key+'_ts'])">
                {{ c['data'][l.key] | number:'1.0':'id' }}</div>
            </td>
            <td *ngFor="let l of attributes.bed" class="bg-light">
              <div *ngIf="l.key !== 'kondisi'; else kondisiTpl" class="number"
                [style.border-color]="utilService.getColor(c['data'][l.key+'_ts'])">
                {{ c['data'][l.key] | number:'1.0':'id' }}</div>
              <ng-template #kondisiTpl>
                <div class="number" [style.border-color]="utilService.getColor(c['data'][l.key+'_ts'])">
                  {{ ((c.data.kondisi || 0) / (c.data.count || 1) * 100) | number:'1.1-1':'id' }}%</div>
              </ng-template>
            </td>
            <td *ngFor="let l of attributes.availibility">
              <div class="number" [style.border-color]="utilService.getColor(c['data'][l.key+'_ts'])">
                {{ c['data'][l.key] | number:'1.0':'id' }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Legend -->
  <div class="legend-large">
    <div class="legend-left">
      <div>
        <strong><u>Catatan</u></strong>
        <p>Kesalahan pada wilayah administrasi akan diperbaiki.</p>
      </div>
    </div>
    <div class="legend-right">
      <div>
        <strong><u>Keterangan Warna</u></strong>
        <p>
          Warna baris kolom menandakan waktu terakhir data diubah. Berikut adalah daftar keterangan warna baris kolom.
        </p>
      </div>
      <div class="legend-row">
        <div style="background-color:#9db4ff;">5 menit lalu</div>
        <div style="background-color:#aabfff;">15 menit lalu</div>
        <div style="background-color:#cad8ff;">45 menit lalu</div>
      </div>
      <div class="legend-row">
        <div style="background-color:#ffddb4;">2 jam lalu</div>
        <div style="background-color:#ffbd6f;">6 jam lalu</div>
        <div style="background-color:#f84235;color:#fff;">20 jam lalu</div>
      </div>
      <div class="legend-row">
        <div style="background-color:#ba3059;color:#fff;">2 hari lalu</div>
        <div style="background-color:#605170;color:#fff;">4 hari lalu</div>
        <div style="background-color:#ffffff;" class="white">&gt; 4 hari lalu</div>
      </div>

    </div>
  </div>
</ng-template>
<!-- end: Table View - default if PC device -->

<ng-template #breadcrumbLarge>
  <div class="breadcrumb-wilayah" *ngIf="location$ | async as location">
    <ng-container *ngFor="let p of location.parents; let i = index;">
      <ng-container *ngIf="i < location.parents.length - 1">
        <span class="breadcrumb-item">
          <a [routerLink]="['/viz', p]">{{ p.split(':')[1] }}</a>
        </span>
        <span class="breadcrumb-item text-muted">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </span>
      </ng-container>
      <span class="breadcrumb-item text-muted" *ngIf="i == location.parents.length - 1">
        {{ p.split(':')[1] }}
      </span>
    </ng-container>
  </div>
  <mat-divider></mat-divider>
</ng-template>

<ng-template #breadcrumbMobile>
  <ng-container *ngIf="location$ | async as location">
    <mat-menu #menu="matMenu" style="width:80%;">
      <ng-template matMenuContent>
        <a mat-menu-item *ngFor="let p of location.parents" [routerLink]="['/viz', p]">
          {{ p.split(':')[1] }}
        </a>
      </ng-template>
    </mat-menu>
    <div [ngClass]="{'responsive':!utilService.isHandset}">
      <div class="breadcrumb-wilayah-mobile">
        <ng-container *ngIf="location.parents.length > 1; else nasional">
          <a mat-icon-button [routerLink]="['/viz', location.parents[location.parents.length - 2]]" color="primary"
            aria-label="Kembali">
            <mat-icon>arrow_back</mat-icon>
          </a>
          <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
            <mat-icon>arrow_drop_down_circle</mat-icon>
          </button>
          <span matLine class="current-wilayah">
            {{ location.parents[location.parents.length - 1].split(':')[1] }}
          </span>
        </ng-container>
        <ng-template #nasional><span class="nasional-wilayah">Indonesia</span></ng-template>
      </div>
    </div>
  </ng-container>
</ng-template>
