.responsive {
  max-width: 1200px;
}

.scrollable {
  overflow-y: scroll;
  height: 70vh;
}

.sorted {
  font-style: italic;
  text-decoration: underline;
}

h1 {
  margin: 0;
  font-weight: bold;
}

input {
  padding: 8px 12px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  border: 0.5px solid #E1E2E6;
}

input::placeholder {
  color: #B8BCC6;
}

label {
  display: inline-block;
  margin-right: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 32px;
}

thead {
  font-size: 12px;
  font-weight: bold;
}

thead tr {
  background: #F1F2F3;
}

tbody {
  font-size: 16px;
  line-height: 21px;
}

tr:nth-child(odd) {
  background: #FFF;
}

tr:nth-child(even) {
  background: #F1F2F3;
}

th,
td {
  padding: 8px 16px 8px 0;
}

th:first-child,
td:first-child {
  padding-left: 8px;
}

tr {
  text-align: left;
  border-bottom: 1px solid #E1E2E6;
}
