.menus {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.menus a {
  margin-left: 32px;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;
  color: #22272C;
  padding-bottom: 6px;
  border-bottom: 2px solid transparent;
  margin-bottom: 6px;
}

.menus a.active {
  border-bottom: 2px solid #D8232A;
}
